{{!-- <div class="text-center"> User Profile Page - Saved Words </div> 
<br> --}}

  {{!-- <div class="card mx-auto center mt-3" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{fl}}</h6>
      <p class="card-text">{{def}}</p>
  </div>
</div> --}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Word</th>
      <th scope="col">Part of Speech</th>
      <th scope="col">Definition</th>
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each users}} --}}
    <tr>
      <th scope="row">1</th>
      <td class="align-middle">{{this.name}}</th>
      <td class="align-middle">{{this.fl}}</td>
      <td class="align-middle">{{this.def}}</td>
    </tr>
    {{!-- {{/each}} --}}
  </tbody>
  </table>